In [5]:
tup = 4,5,6

In [2]:
tup = tuple('string')

In [6]:
tup * 2

(4, 5, 6, 4, 5, 6)

In [7]:
[0]*10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [9]:
a=[1,2,3]; b=[23]; c=50; d=['Txt'];

In [12]:
tup2 = tuple([a,b,c,d])

In [13]:
tup2

([1, 2, 3], [23], 50, ['Txt'])

In [14]:
x,y,z,t = tup2

In [16]:
tup3 = (1,1,1,2,2,3,4,5)

In [17]:
1 in tup3

True

In [19]:
tup3.index(1)

0

In [20]:
seq1 = list(range(6))

In [21]:
seq2 = (6,7,8,9)

In [22]:
seq3 = [True,False,True];

In [23]:
table = type(zip(seq1,seq2,seq3))

In [24]:
table

zip

In [25]:
table = tuple(zip(seq1,seq2,seq3))

In [26]:
table

((0, 6, True), (1, 7, False), (2, 8, True))

In [27]:
s1,s2,s3 = zip(*table)

In [28]:
print(s1,s2,s3)

(0, 1, 2) (6, 7, 8) (True, False, True)

In [32]:
for a,b,c in table:
    print(a,b,c)

0 6 True
1 7 False
2 8 True

In [34]:
for c, val in enumerate([1,2,3]):
    print(c,val)

0 1
1 2
2 3

Crear una funcion que devuelva la palabra mas larga de una lista de palabras

In [35]:
palabras = ['palabra','corta','terrateniente','ser']

In [46]:
def calc(palabras):
    cant = 0
    pal  = ''
    for palabra in palabras:
        if (len(palabra) > cant):
            cant = len(palabra)
            pal  = palabra
            
    return(pal)

In [47]:
calc(palabras)

'terrateniente'

In [39]:
for i in map(lambda x: x**2,[1,2,3]):
    print(i)

1
4
9

In [68]:
def calc2(palabras):
    aux = [];
    for palabra in palabras:
        aux.append((len(palabra),palabra))
    aux.sort(key=lambda x:x[0])
    
    return aux[-1]

In [69]:
calc2(palabras)

(13, 'terrateniente')