In [31]:
stars= ['Alderaan','Arcturus','Vega']

In [3]:
len(stars)

3

In [4]:
stars[2]

'Vega'

In [5]:
stars[-1]

'Vega'

In [6]:
stars[:2]

['Alderaan', 'Arcturus']

In [7]:
stars[1:]

['Arcturus', 'Vega']

In [8]:
empty_list=[]

In [9]:
mix_list=[1,'text']

In [10]:
planets=[['Sol',2],['Alpha Centauri',3]]

In [11]:
planets[0][1]

2

In [12]:
stars

['Alderaan', 'Arcturus', 'Vega']

In [33]:
stars.append('Polar')

In [14]:
stars.append('Vega')

In [19]:
stars

['Alderaan', 'Arcturus', 'Polar', 'Vega', 'Vega']

In [16]:
stars.remove('Vega')

In [17]:
stars.append('Vega')

In [18]:
stars.count('Vega')

2

In [34]:
stars.index('Polar')

3

In [35]:
stars

['Alderaan', 'Arcturus', 'Vega', 'Polar']

In [36]:
stars.index('Vega')

2

In [37]:
stars.pop()

'Polar'

In [29]:
stars

[]

In [33]:
id(stars)

140559518659784

In [34]:
stars.append('alpha centauri')

In [35]:
stars

['Alderaan', 'Arcturus', 'Polar', 'Vega', 'alpha centauri']

In [37]:
stars=stars+['Sol']

In [38]:
stars

['Alderaan', 'Arcturus', 'Polar', 'Vega', 'alpha centauri', 'Sol']

In [39]:
id(stars)

140559553606920

In [44]:
stars.append('Hoth')

In [44]:
stars

['Alderaan', 'Arcturus', 'Vega', 'Hoth2', 'Hoth2']

In [43]:
stars.extend(['Hoth2'])

In [40]:
stars=stars[:6]dddd

SyntaxError: invalid syntax (<ipython-input-40-1517584db255>, line 1)

In [41]:
stars

['Alderaan', 'Arcturus', 'Vega', 'Hoth2']

In [48]:
stars.insert(2,'Death')

In [46]:
stars

['Hoth2', 'Hoth2', 'Vega', 'Arcturus', 'Alderaan']

In [51]:
'Love' in stars

False

# Sorting

In [48]:
stars.reverse()

In [51]:
stars

['Alderaan', 'Arcturus', 'Vega', 'Hoth2', 'Hoth2']

In [56]:
stars.reverse()

In [54]:
list(reversed(stars))

['Hoth2', 'Hoth2', 'Vega', 'Arcturus', 'Alderaan']

In [60]:
list(reversed(stars))

['Hoth2',
 'Hoth',
 'Sol',
 'alpha centauri',
 'Vega',
 'Polar',
 'Death',
 'Arcturus',
 'Alderaan']

In [55]:
stars.sort()

In [56]:
stars

['Alderaan', 'Arcturus', 'Hoth2', 'Hoth2', 'Vega']

In [57]:
numbers=[1, 3, 10, 100, 70,13, 56]

In [58]:
numbers.sort()

In [59]:
numbers

[1, 3, 10, 13, 56, 70, 100]

In [61]:
list(sorted(numbers))

[1, 3, 10, 13, 56, 70, 100]

In [70]:
two_types_list=['2','5',100, 39]

In [72]:
two_types_list.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [79]:
two_types_list=['2','5',100, 39]

In [81]:
two_types_list.sort(key=int)
two_types_list

['2', '5', 39, 100]

In [76]:
strings_numbers_and_letters=['a','A','10','2','40','¡']

In [77]:
strings_numbers_and_letters.sort()

In [78]:
strings_numbers_and_letters

['10', '2', '40', 'A', 'a', '¡']

In [82]:
sorted('hi all')

[' ', 'a', 'h', 'i', 'l', 'l']

Ejercicio: Ordenar una listas de palabras, por la longitud de la palabra

In [62]:
new_stars=['Alderaan','Arcturus','Vega','Hoth','asdklsdfljsdfñl']

In [65]:
new_stars.sort(key=len, reverse=True)
new_stars

['asdklsdfljsdfñl', 'Alderaan', 'Arcturus', 'Vega', 'Hoth']

In [85]:
list(sorted(new_stars,key=len,reverse=True))

['asdklsdfljsdfñl', 'Alderaan', 'Arcturus', 'Vega', 'Hoth']

In [87]:
list(sorted(new_stars,key=str.lower))

['Alderaan', 'Arcturus', 'asdklsdfljsdfñl', 'Hoth', 'Vega']

# sort by custom functions

In [88]:
def mul_2(x):
    return 2*x

In [89]:
mul_2(3)

6

In [103]:
the_same_function= lambda x,y: 2*x*y

In [104]:
the_same_function(3,2)

12

In [99]:
a_stars=['Alderaan','aaaaa','polar','AAArcturusa']

In [96]:
a_stars[0].count('a')

2

In [102]:
a_stars.sort(key=lambda x: x.lower().count('a'),reverse=True)
a_stars

['aaaaa', 'AAArcturusa', 'Alderaan', 'polar']

In [105]:
for i in a_stars:
    print(i)

aaaaa
AAArcturusa
Alderaan
polar

# functions as objects

In [68]:
def add_one(value):
    return value+1
def add_two(value):
    return value+2
def add_three(value):
    return value+3

In [107]:
math_ops=[add_one,add_two,add_three]

In [110]:
def math_values(values,ops):
    result=[]
    for value in values:
        for function in ops:
            new_value=function(value)
            result.append(new_value)
    return result

In [111]:
l=[1,2,3]
math_values(l,math_ops)

[2, 3, 4, 3, 4, 5, 4, 5, 6]

# Map

In [114]:
for i in map(add_one,l):
    print(i)

2
3
4

In [69]:
l = [1,2,3]
for i in map(add_one,l):
    print(i)

2
3
4

In [115]:
l2=map(add_two,l)

In [116]:
type(l2)

map

In [117]:
list(l2)

[3, 4, 5]

# Lists comprehensions

In [120]:
a=list(range(10))

In [121]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Ejercicio : Obtener el cuadrado de todos los números pares de la lista a

In [127]:
a_2_even=[]
for value in a:
    if value%2==0:
        a_2_even.append(value**2)

In [128]:
a_2_even

[0, 4, 16, 36, 64]

In [129]:
a2=[value**2 for value in a if value%2==0]

In [130]:
a2

[0, 4, 16, 36, 64]

In [143]:
a3=[value**2 if value%2==0 else 10 for value in a  ]

In [144]:
a3

[0, 10, 4, 10, 16, 10, 36, 10, 64, 10]

Ejercicio: Calcular el cuadrado de los valores de a usando map y lambda

In [145]:
list(map (lambda x: x**2,a))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [146]:
[add_one(value) for value in a ]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [147]:
list_strings=['a','as','ab','dog','python','london','edimburgh']

Ejercicio: Lista en mayúsculas de todas las palabras de más de 2 caracteres

In [150]:
[palabra.upper() for palabra in list_strings if len(palabra) >2 ]

['DOG', 'PYTHON', 'LONDON', 'EDIMBURGH']

#  nested list comprehension

In [73]:
list_of_list=[[1,2,3],[4,5,6],[7,8,9]]

In [74]:
one_list=[]
for other_list in list_of_list:
    for element in other_list:
        one_list.append(element)
one_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
second_list=[element for other_list in list_of_list for element in other_list]

In [76]:
second_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
[element for other_list in list_of_list if 2 in other_list for element in other_list]

[1, 2, 3]

Ejercicio: lista con 10 nombres, poner todas las vocales a mayusculas y las demás letras a minúsculas

In [70]:
names=["Bob", "Igor", "Anita", "Israel", "Thomas", "Bill", "Ronaldo", "Messi"]

In [71]:
new_names=[]
for name in names:
    new_name=''
    for latter in name:
        if latter in 'aeiouAEIOU':
            new_name=new_name+latter.upper()
        else:
            new_name=new_name+latter.lower()
    new_names.append(new_name)

In [72]:
new_names

['bOb', 'IgOr', 'AnItA', 'IsrAEl', 'thOmAs', 'bIll', 'rOnAldO', 'mEssI']

In [78]:
names=["Bob", "Igor", "Anita", "Israel", "Thomas", "Bill", "Ronaldo", "Messi"]

In [85]:
[nombre for nombre in names if nombre.count(a) ]

['Bob', 'Igor', 'Anita', 'Israel', 'Thomas', 'Bill', 'Ronaldo', 'Messi']