In [1]:
tup=4,5,6

In [3]:
tup

(4, 5, 6)

In [4]:
tup2=[4,5,6]

In [6]:
tup2=tuple(tup2)

In [7]:
tup2

(4, 5, 6)

In [6]:
tup3=tuple('string')

In [7]:
tup3

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup4=tuple(['string1','string2'])

In [9]:
tup4

('string1', 'string2')

In [10]:
nested_up=(4,5,6),('cosas','mascosas'),('A',7,True)

In [11]:
nested_up

((4, 5, 6), ('cosas', 'mascosas'), ('A', 7, True))

In [13]:
nested_up[:2]

((4, 5, 6), ('cosas', 'mascosas'))

In [17]:
nested_up[2][2]=False

TypeError: 'tuple' object does not support item assignment

In [18]:
nested_lists=([1,2,3],['cosas','mas cosas'])

In [21]:
nested_lists[0]

[1, 2, 3]

In [22]:
id(nested_lists[0])

140511045038856

In [24]:
nested_lists[0].append(4)

In [25]:
nested_lists

([1, 2, 3, 4], ['cosas', 'mas cosas'])

In [36]:
more_nested_lists=nested_lists + ([34,566,777],[4938493,4444])+(['como mola','hola'],['adios','bye'])

In [37]:
more_nested_lists

([1, 2, 3, 4],
 ['cosas', 'mas cosas'],
 [34, 566, 777],
 [4938493, 4444],
 ['como mola', 'hola'],
 ['adios', 'bye'])

In [39]:
[0,3,0]

[0, 3, 0]

In [44]:
more_nested_lists+('bar',)

([1, 2, 3, 4],
 ['cosas', 'mas cosas'],
 [34, 566, 777],
 [4938493, 4444],
 ['como mola', 'hola'],
 ['adios', 'bye'],
 'bar')

In [48]:
tup4=('bar','taberna','bareto')

In [49]:
tup5=tup4*2

In [50]:
tup5

('bar', 'taberna', 'bareto', 'bar', 'taberna', 'bareto')

In [51]:
[0]*10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [2]:
a=[1,2,3]; b=[23]; c=50;d=['Txt']; e='ff'
tup6=tuple([a,b,c,d,e])

In [3]:
tup6

([1, 2, 3], [23], 50, ['Txt'], 'ff')

In [54]:
id(e)

140511343581144

In [56]:
id(tup6[4])

140511343581144

In [4]:
a[0]=5; b.append(121212); c=3131; d[0]='cocsas'; e='as'

In [58]:
tup6

([5, 2, 3], [23, 121212], 50, ['cocsas'], 'ff')

In [60]:
id(tup6[4])

140511343581144

In [61]:
id(e)

140511328480480

In [66]:
a=[1,2,3]; b=[23]; c=50;d=['Txt']; e='ff'

In [6]:
l=[a,b,c,d,e]
l

[[5, 2, 3], [23, 121212], 3131, ['cocsas'], 'as']

In [69]:
e='ass'

In [70]:
l

[[1, 2, 3], [23], 50, ['Txt'], 'ff']

In [8]:
l[4]='as'

In [9]:
l

[[5, 2, 3], [23, 121212], 3131, ['cocsas'], 'as']

In [73]:
e

'ass'

# Unpacking tuples

In [74]:
tup = (4, 5,6)

In [79]:
a,b,c=tup

In [80]:
print(a,b,c)

4 5 6

In [81]:
a,b=tup

ValueError: too many values to unpack (expected 2)

In [83]:
tup2=(4,5,(6,7))
a,b,c=tup2
print(a,b,c)

4 5 (6, 7)

In [84]:
tup2=(4,5,(6,7))
a,b,(c,d)=tup2
print(a,b,c,d)

4 5 6 7

In [85]:
a,b

(4, 5)

In [86]:
b,a=a,b

In [88]:
a,b

(5, 4)

# Methods

In [8]:
a=(1,2,3,4,5,6,7)
a.count(2)

1

In [9]:
a=(1,2,2,2,5,6,7)
a.count(2)

3

In [10]:
2 in a

True

In [11]:
20 in a

False

In [15]:
a.index(6)

5

In [95]:
a.index(2)

1

In [96]:
b=('this','is','in','me')
b.count('i')

0

In [97]:
b.count('in')

1

# Función ZIP

In [98]:
seq1=list(range(6))
seq2=(6,7,8,9)
seq3=[True,False,True]

In [100]:
type(zip(seq1,seq2,seq3))

zip

In [101]:
table=tuple(zip(seq1,seq2,seq3))

In [102]:
table

((0, 6, True), (1, 7, False), (2, 8, True))

In [110]:
print(*table)

(0, 6, True) (1, 7, False) (2, 8, True)

In [107]:
s1,s2,s3=zip(*table)

In [111]:
print(s1,s2,s3)

(0, 1, 2) (6, 7, 8) (True, False, True)

In [113]:
for i in table:
    print(i)

(0, 6, True)
(1, 7, False)
(2, 8, True)

In [114]:
for a,b,c in table:
    print(a)

0
1
2

In [118]:
for i,j in zip(seq1,seq2):
    print(i, j)

0 6
1 7
2 8
3 9

# Enumerate

In [120]:
c=0
for val  in range(10,20):
    print(c,val)
    c=c+1

0 10
1 11
2 12
3 13
4 14
5 15
6 16
7 17
8 18
9 19

In [121]:
for c, val in enumerate(range(10,20)):
    print(c,val)

0 10
1 11
2 12
3 13
4 14
5 15
6 16
7 17
8 18
9 19

In [124]:
for c,(i,j) in enumerate(zip(seq1,seq2)):
    print('index: ',c, ' values:',i, j)

index:  0  values: 0 6
index:  1  values: 1 7
index:  2  values: 2 8
index:  3  values: 3 9

In [126]:
for c, val in enumerate(reversed(range(10,20))):
    print(c,val)

0 19
1 18
2 17
3 16
4 15
5 14
6 13
7 12
8 11
9 10

Ejercicio: Crear una función que devuelva la palabra más larga de una lista de palabras

In [127]:
l=["nucelar",'chernobyl','homer']

In [128]:
def find_longest_word(word_list):
    aux=0
    for word in word_list:
        if len(word) > aux:
            aux=len(word)
            maxword=word
    return maxword

In [129]:
find_longest_word(l)

'chernobyl'

In [150]:
def find_longest_word2(word_list):
    aux=[]
    for index,word in enumerate(word_list):
        aux.append((len(word),word))
    aux.sort(key=lambda x: x[0])
    return aux[-1]

In [151]:
find_longest_word2(l)

(9, 'chernobyl')