# methods

In [11]:
d = {'a':'lalaaalala', 'b':20, 'c':'3333'}

In [12]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [13]:
d.values()

dict_values(['lalaaalala', 20, '3333'])

# Eliminando

In [14]:
del d['a']

In [15]:
d

{'b': 20, 'c': '3333'}

In [16]:
d.pop('b')

20

In [17]:
d

{'c': '3333'}

# Obteniendo valor

In [20]:
d.get('f')

# Agregando

In [21]:
d['a'] = 'llololo'

In [22]:
d

{'c': '3333', 'a': 'llololo'}

In [25]:
d.update({'z':90})

In [26]:
d

{'c': '3333', 'a': 'llololo', 'z': 90}

# Example

In [29]:
def f():
    a=5
    b=3
    c=4
    return {'a':a,'b':b,'c':c}

In [30]:
f()

{'a': 5, 'b': 3, 'c': 4}

# Set

In [31]:
set_example = {'a','c'}

In [32]:
set_example

{'a', 'c'}

In [33]:
l = {1,2,3,1,2,3,4}

In [34]:
set(l)

{1, 2, 3, 4}

# Ejercicio

una funcion que a partir de una lista de palabras devuelva todas las que empiezan por la misma letra

In [61]:
palabras = ['pedro', 'pepino', 'jose','manzana','jupiter']

In [72]:
def categorize_by_first_letter(list_words):
    by_letter=dict()
    for word in list_words:
        letter = word[0]
        if letter not in by_letter:
            by_letter[letter]=[word]
        else:
            by_letter[letter].append(word)
    return by_letter

In [73]:
categorize_by_first_letter(palabras)

{'j': ['jupiter', 'jose'], 'p': ['pedro', 'pepino'], 'm': ['manzana']}

Ordenar una lista por la cantidad de letras distintas en cada palabra, pista: lambdas con set

In [65]:
palabras = ['pedro', 'pepino', 'jose','manzana','jupiter']

In [70]:
palabras.sort(key=lambda x: len(set(x)),reverse=True)

In [71]:
palabras

['jupiter', 'pedro', 'pepino', 'jose', 'manzana']