In [1]:
stars = ["a","b","c"]

In [2]:
len(stars)

3

In [9]:
stars[1:]

['b', 'c']

In [31]:
stars.append('b')

In [44]:
stars

['c', 'd', 'a', 'a', 'b', 'Z', 'X', 'Y']

In [34]:
stars.pop(0)

'b'

In [47]:
id(stars)

4359969480

In [43]:
stars.extend(['Y'])

In [49]:
'G' in stars

False

In [52]:
stars.reverse()

In [53]:
stars

['c', 'd', 'a', 'a', 'b', 'Z', 'X', 'Y']

In [56]:
list(reversed(stars))

['Y', 'X', 'Z', 'b', 'a', 'a', 'd', 'c']

In [57]:
stars.sort()

In [69]:
numbers = [1,4,3,20,5,6,7]

In [70]:
numbers

[1, 4, 3, 20, 5, 6, 7]

In [64]:
list(sorted(numbers))

[1, 2, 3, 4, 5, 6, 7]

In [73]:
numbers.sort(key=int)

In [74]:
numbers

[1, 3, 4, 5, 6, 7, 20]

In [75]:
sorted("hi all")

[' ', 'a', 'h', 'i', 'l', 'l']

Ordenar una lista de palabras por la longitud de cada palabra

In [76]:
new_starts = ['Alderaan','Arcturus','Vega','Hoth','lalallalllalllala']

In [77]:
new_starts.sort(key=len)

In [78]:
new_starts

['Vega', 'Hoth', 'Alderaan', 'Arcturus', 'lalallalllalllala']

In [90]:
new_starts.sort(key=len)

In [83]:
list(sorted(new_starts,key=str.lower))

['Alderaan', 'Arcturus', 'Hoth', 'lalallalllalllala', 'Vega']

In [85]:
def mul(x):
    return 2*x

In [86]:
mul(3)

6

In [93]:
the_same_function = lambda x,y: x*y

In [96]:
lambda_count_a = lambda x: x.lower().count('a')

In [97]:
new_starts.sort(key=lambda_count_a,reverse=True)

In [98]:
new_starts

['lalallalllalllala', 'Alderaan', 'Vega', 'Arcturus', 'Hoth']

In [99]:
for i in new_starts:
    print(i)

lalallalllalllala
Alderaan
Vega
Arcturus
Hoth

In [104]:
def add_one(x):
    return x+1

In [105]:
def add_two(x):
    return x+2

In [106]:
def add_three(x):
    return x+3

In [107]:
math_ops = [add_one,add_two,add_three]

In [110]:
def math_values (values,ops):
    result = []
    for value in values:
        for function in ops:
            new_value = function(value)
            result.append(new_value)
    return result

In [112]:
math_values([1,2,3],math_ops)

[2, 3, 4, 3, 4, 5, 4, 5, 6]

##MAP

In [114]:
for i in map(add_one,[1,2,3]):
    print(i)

2
3
4

In [115]:
map(add_one,[1,2,3])

In [121]:
test = map(add_one,[1,2,3])

In [123]:
for i in test:
    print(i)

2
3
4

In [166]:
func_pares = lambda x: 
    res = x%2 
    if(res == 0): 
        return (x*x)

SyntaxError: invalid syntax (<ipython-input-166-ca890611438e>, line 1)

In [143]:
def func_pares(x):
    res = x%2
    if(res == 0):
        return (x*x)

In [145]:
for i in map(func_pares,[2,3,4]):
    print(i)

4
None
16

In [153]:
t = [0,1,2,3,4,5,6,7,8,9]

In [159]:
a2 = [value**2 for value in t if value%2==0]

In [155]:
a2

[0, 4, 16, 36, 64]

In [156]:
a3 = [value**2 if value%2==0 else 1 for value in t ]

In [157]:
a3

[0, 1, 4, 1, 16, 1, 36, 1, 64, 1]

In [167]:
list_strings=['a','b','lala','loo','saraza','firulete']

Obtener una lista en mayusculas de todas las palabras de mas de dos caracteres

In [173]:
a4 = [value.upper() for value in list_strings if len(value) > 2]

In [171]:
a4

['LALA', 'LOO', 'SARAZA', 'FIRULETE']

In [174]:
list_of_list = [[1,2,3],[4,5,6],[7,8]]

In [180]:
a5 = [ element for other_list in list_of_list for element in other_list]

In [181]:
a5

[1, 2, 3, 4, 5, 6, 7, 8]

lista con 10 nombres poner todas las vocales a mayusculas y las demas a minusculas

In [217]:
lista = ['ana','jose','alBerto']

In [219]:
a6 = [ lala(palabra) for palabra in lista ]

In [218]:
def lala(x):
    a =  [letra.upper() if (letra.lower() in ['a','e','i','o','u']) else letra.lower() for letra in x]
    return "".join(a)

In [220]:
a6

['AnA', 'jOsE', 'AlbErtO']